* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All page */

.allPage {
    background: linear-gradient(#AD4F34, #b95c10);
    height: 100vh;
}

/* Playground */
.playground {
    width: 80%;
    height: 80%;
    background: #d1ccb4;
    position: absolute;
    top: 10%;
    left: 10%;
}

/* Total score */
.totalScore {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.totalScore p:nth-of-type(2) {
    font-size: 40px;
    text-align: center;
}

.totalScore0 {
    position: absolute;
    top: 15%;
    left: 10%;
}

.totalScore1 {
    position: absolute;
    top: 15%;
    left: 75%;
}

/* Current score */
.currentScore {
    width: 150px;
    height: 150px;
    background: #b95c10;
}

.currentScore p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.currentScore p:nth-child(2) {
    font-size: 40px;
}

.currentScore0 {
    position: absolute;
    top: 40%;
    left: 11.5%;
}

.currentScore1 {
    position: absolute;
    top: 40%;
    right: 11.5%;
}

/* Middle text (buttons) */
.middleText {
    position: absolute;
    top: 65%;
    left: 40%;
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.btn {
    border: 2px solid #b95c10;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #b95c10;
}

.btn:hover {
    border: 2px;
    background-color: #AD4F34;
}

/* Dice */
.dice {
    position: absolute;
    top: 30%;
    left: 44%;
}

/* Active player */
.active {
    color: #fff;
    border: 2px solid #AD4F34;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #AD4F34;
}
















