* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All page */

.allPage {
    background: linear-gradient(lightpink, violet);
    height: 100vh;
}

/* Playground */
.playground {
    width: 80%;
    height: 80%;
    background: #d1ccb4;
    position: absolute;
    top: 10%;
    left: 10%;
}

/* Total score */
.totalScore {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.totalScore p:nth-of-type(2) {
    font-size: 40px;
    text-align: center;
}

.totalScore0 {
    position: absolute;
    top: 15%;
    left: 10%;
}

.totalScore1 {
    position: absolute;
    top: 15%;
    left: 70%;
}